.box-layout {
  background-image: url('/images/crfree-sunset-trees.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, 0.15);
  border-radius: 15px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    width: 45rem;
    font-size: xx-large;
    padding: $xxl-size $l-size;
  }
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
