.entry-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10rem $s-size 12rem $s-size;
  min-width: 32rem;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.entry-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: white;
  padding: $m-size;
  width: 100%;
  border: 1px solid $light-blue;
  box-shadow: 1px 1px 0px $light-blue, 2px 2px 0px $light-blue,
    3px 3px 0px $light-blue, 4px 4px 0px $light-blue, 5px 5px 0px $light-blue,
    6px 6px 0px $light-blue;
  border-radius: 5px;
  margin: 1rem 0;
  color: black;
}

.entry-item-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: $font-size-large;
}

.entry-item--button {
  &:hover {
    background: $light-grey;
  }
}

.entry-item-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $light-blue;
  font-size: $font-size-small;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 1rem;
}

.entry-item-text {
  text-align: left;
  word-break: break-word;
}

.entry-item--message {
  font-style: italic;
  background: none;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
