.header {
  background: $light-blue;
  position: fixed;
  width: 100%;
  top: 0;
}

.header__content {
  background-color: $light-blue;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__right {
  display: flex;
  flex-direction: row;
}
